<% set_meta_tags title: 'Найсвіжіші футбольні новини' %>

<div class="col-md-8 col-xs-12 bg-white padding-none">
  <div class="welcome">
    <div class="welcome-text">
      <span class="bold">Turnir.ua</span> - спортивное сообщество. <br>Читаем, смотрим, обсуждаем.  
    </div>
    <div class="welcome-button">
      <div class="btn btn-success">
        Присоединиться  
      </div>
    </div>
  </div>
  <% @posts.order('created_at DESC').first(30).each_with_index do |post, i| %>
    <div class="post_card">
      <% if post.try(:category).try(:name) == 'Футбол' %>
        <a href="/categories/<%= post.category_id %>" class="category green">
          Ф
        </a>
      <% elsif post.try(:category).try(:name) == 'Бокс' %>
        <a href="/categories/<%= post.category_id %>" class="category red">
          Б
        </a>
      <% elsif post.category == 'undefined' %>

      <% end %>
      <div class="table_cell">
        <div class="rating_up" data-post-id="<%= post.id %>" data-post-rating="<%= post.rating %>"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></div>
        <div class="rating_integer_<%= post.id %>"><%= post.rating %></div>
        <div class="rating_down" data-post-id="<%= post.id %>" data-post-rating="<%= post.rating %>"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></div>
      </div>
      <% if post.url.length > 0 %>
        <h5><%= link_to post.title, post.url, target: '_blank' %> <small class="text-muted"> (<%= post.try(:domain) %>)</small></h5>
      <% else %>
        <h5><%= link_to post.title, post %></h5>
      <% end %>
      <% if user_signed_in? %>
        <% if post.author.try(:id) == current_user.id || current_user.role == "moderator" %>
          <h6><%= link_to "Редагувати", edit_post_path(post) %> <%= link_to "Видалити", post, method: :delete, data: { confirm: 'Ви впевнені?' } %> </h6>
        <% end %>
      <% end %>

      <div class="post_info">
        Добавил: <%= link_to post.author.try(:name), user_path(post.author.try(:id)) %>, <%= time_ago_in_words post.created_at %>;
        <% if post.comments.size > 0 %>
          <%= link_to(post) do %>
            Комментариев: <%= post.comments.size %>
          <% end %>
        <% else %>
          <%= link_to 'Прокомментировать', post %>
        <% end %>
      </div>
      <% if i == 0 %>
        
      <% end %>
    </div>
  <% end %>  
</div>

<%= render 'layouts/sidebar' %>